<!-- /. NAV SIDE  -->

<div id="page-wrapper">
	<div class="header">
		<h1 class="page-header">
			Dashboard
		</h1>
		<ol class="breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Dashboard</a></li>
			<li class="active">Data</li>
		</ol>

	</div>
	<div id="page-inner">

		<div class="dashboard-cards">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image blue">
							<i class="fas fa-sort-amount-up"></i>
						</div>
						<div class="card-stacked blue">
							<div class="card-content">
								<h3>{{totalOrders}}</h3>
							</div>
							<div class="card-action">
								<strong>
									<Table>TOTAL<br> ORDERS</Table>
								</strong>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image orange">
							<i class="material-icons dp48">shopping_cart</i>
						</div>
						<div class="card-stacked orange">
							<div class="card-content">
								<h3>{{ordersPlaced}}</h3>
							</div>
							<div class="card-action">
								<strong>ORDERS <br>PLACED</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image red">
							<i class="fas fa-ban"></i>
						</div>
						<div class="card-stacked red">
							<div class="card-content">
								<h3>{{ordersCancelled}}</h3>
							</div>
							<div class="card-action">
								<strong>ORDERS<br> CANCELLED</strong>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">

				<div class="card horizontal cardIcon waves-effect waves-dark">
					<div class="card-image green">
						<i class="fas fa-truck"></i>
					</div>
					<div class="card-stacked green">
						<div class="card-content">
							<h3>{{ordersShipped}}</h3>
						</div>
						<div class="card-action">
							<strong>ORDERS <br>SHIPPED</strong>
						</div>
					</div>
				</div>

			</div>
				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image grey">
							<i class="fas fa-users"></i>
						</div>
						<div class="card-stacked grey">
							<div class="card-content">
								<h3>{{totalUsers}}</h3>
							</div>
							<div class="card-action">
								<strong>TOTAL <br>USERS</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">

					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image purple">
							<i class="fas fa-gem"></i>
						</div>
						<div class="card-stacked purple">
							<div class="card-content">
								<h3>{{totalProducts}}</h3>
							</div>
							<div class="card-action">
								<strong >TOTAL<br> PRODUCTS</strong>
							</div>
						</div>
					</div>

				</div>
			</div>


		</div>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>


		<div class="row">
			<div class="col-md-6">
				<div class="card ">
					<div class="card-image ">
						<canvas id="salesChart"></canvas>
					</div>

				</div>
			</div>
			<div class="col-md-4 ml-2" >
				<div class="card-panel text-center" >
					<h4>Today Sales</h4>
					<div class="easypiechart" id="easypiechart-blue" data-percent="{{dailyOrderPercentage}}"><span
							class="percent">{{dailyOrderPercentage}}</span>
					</div>
				</div>
			</div>
		</div>

		<!-- /. ROW  -->
		{{!-- <div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="cirStats">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="card-panel text-center">
								<h4>Profit</h4>
								<div class="easypiechart" id="easypiechart-blue" data-percent="82"><span
										class="percent">82%</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="card-panel text-center">
								<h4>No. of Visits</h4>
								<div class="easypiechart" id="easypiechart-red" data-percent="46"><span
										class="percent">46%</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="card-panel text-center">
								<h4>Customers</h4>
								<div class="easypiechart" id="easypiechart-teal" data-percent="84"><span
										class="percent">84%</span>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<div class="card-panel text-center">
								<h4>Sales</h4>
								<div class="easypiechart" id="easypiechart-orange" data-percent="55"><span
										class="percent">55%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/.row-->

			<!--/.row-->
		</div> --}}







		<!-- /. ROW  -->






		<!-- /. ROW  -->
		


	</div>
	<!-- /. PAGE INNER  -->
</div>
<!-- /. PAGE WRAPPER  -->
<script>
	var ctx = document.getElementById('salesChart').getContext('2d');
	var chart = new Chart(ctx, {
		// The type of chart we want to create
		type: 'bar',

		// The data for our dataset
		data: {
			labels: ['Total Orders', 'Orders Placed', 'Orders Cancelled', 'Orders Shipped'],
			datasets: [{
				label: 'Order Summary',
				backgroundColor: 'rgb(255, 99, 132)',
				borderColor: 'rgb(255, 99, 132)',
				data: [{{ totalOrders }}, {{ ordersPlaced }},{{ ordersCancelled }}, {{ ordersShipped }}]
			}]
		},

	// Configuration options go here
	options: { }
	});
</script>