<div id="page-wrapper">
<div class="container ">
    <div class="row">
        <div class="col-md-6">
            <a href="/admin/addUser" class="btn btn-primary ">Add New User</a>
        </div>
    </div>
    <table class="table table-striped mt-5" style="margin-top:30px;" id="userTable">
  <thead>
    <tr>
        <th scope="col">No.</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">Status</th>
      
    </tr>
  </thead>
  <tbody>
      {{#each users}}
    <tr>
      <td>{{@index}}</td>
      <td>{{this.Name}}</td>
      <td>{{this.Email}}</td>
      <td>{{this.Mobile}}</td>
      <td></td>
      <td><a href ="/admin/editUser?id={{this._id}}" class="btn btn-primary" >Edit</a> </td> 
      <td><a href ="/admin/deleteUser?id={{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to Delete {{this.Name}}')">Delete</a> </td> 
    </tr>
    {{/each}}
   
  </tbody>
</table>
</div>
</div>

