

        <div class="offcanvas-overlay"></div>

        <!-- Hero/Intro Slider Start -->
        <div class="section ">
            <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
                <!-- Hero slider Active -->
                <div class="swiper-wrapper">
                    <!-- Single slider item -->
                    <div class="hero-slide-item slider-height swiper-slide d-flex">
                        <div class="container align-self-center">
                            <div class="row">
                                <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                    <div class="hero-slide-content slider-animated-1">
                                        <span class="category">New Products</span>
                                        <h2 class="title-1">Formals and Casuals </h2>
                                        <p>This is the right destination where you get your beloved products with a
                                            premium quality and reasonable price</p>

                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5">
                                    <div class="hero-slide-image">
                                        <img src="/assets/images/slider-image/slider -1.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single slider item -->
                    <div class="hero-slide-item slider-height swiper-slide d-flex">
                        <div class="container align-self-center">
                            <div class="row">
                                <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                    <div class="hero-slide-content slider-animated-1">
                                        <span class="category">New Products</span>
                                        <h2 class="title-1">Formals and Casuals</h2>
                                        <p>This is the right destination where you get your beloved products with a
                                            premium quality and reasonable price</p>

                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5">
                                    <div class="hero-slide-image">
                                        <img src="/assets/images/slider-image/slider -2.png" alt="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination swiper-pagination-white"></div>
                <!-- Add Arrows -->
                <div class="swiper-buttons">
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>

        <!-- Hero/Intro Slider End -->

        <!-- Product Category Start -->
        <div class="section pt-50px pb-50px">
            <div class="container">
                <div class="category-slider swiper-container" data-aos="fade-up">
                    <div class="category-wrapper swiper-wrapper" style="height: 20em;">
                        <!-- Single Category -->
                        {{#each category}}
                        <a href="/getCategoryProduct/{{this.Category}}" class="category-inner " style="text-decoration: none;">
                            <div class="category-single-item">
                                <img src="/assets/images/icons/1.png" style="width: 6em;height:6em" alt="">
                                <span class="title" >{{this.Category}}</span>
                            </div>
                        </a>
                        {{/each}}

                        {{!-- <!-- Single Category -->

                        <a href="shop-left-sidebar.html" class="category-inner ">
                            <div class="category-single-item">
                                <img src="/assets/images/icons/2.png" alt="" style="width: 5em;height:5em">
                                <span class="title">Casual Shoes</span>
                            </div>
                        </a> --}}


                    </div>
                </div>
            </div>
        </div>

        <!-- Product Category End -->

        <!-- Product tab Area Start -->
        <div class="section product-tab-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center" data-aos="fade-up">
                        <div class="section-title mb-0">
                            <h2 class="title">New Arrivals</h2>
                            <p class="sub-title mb-6">Here are the new arrivals of shoes that you could purchase.</p>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col">
                        <div class="tab-content">
                            <!-- 1st tab start -->
                            
                            <div class="tab-pane fade show active" id="tab-product-new-arrivals">
                                <div class="row">
                                    {{#each products}}
                                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6" data-aos="fade-up"
                                        data-aos-delay="200">
                                        <!-- Single Prodect -->
                                        
                                        <div class="product mr-2" style="width: 250px;height:400px">
                                            <div class="thumb">
                                                <a href="/userProduct?id={{this._id}}" class="image">
                                                    <img src="/product-images/{{this._id}}a.jpg" class="img-fluid img-responsive" alt="Product" style="height: 10em;"/>
                                                    <img class="hover-image" src="/product-images/{{this._id}}b.jpg"
                                                        alt="Product" />
                                                </a>
                                                <span class="badges">
                                                    <span class="new">New</span>
                                                </span>
                                                <div class="actions">
                                                    {{!-- <a href="wishlist.html" class="action wishlist" title="Wishlist"><i
                                                            class="icon-heart"></i></a> --}}
                                                    {{!-- <a href="#" class="action quickview" data-link-action="quickview"
                                                        title="Quick view" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal"><i
                                                            class="icon-size-fullscreen"></i></a> --}}
                                                    {{!-- <a href="compare.html" class="action compare" title="Compare"><i
                                                            class="icon-refresh"></i></a> --}}
                                                </div>
                                                <button onclick="addCart('{{this._id}}')" class="btn btn-secondary add-to-cart " style="text-decoration: none;">Add To Cart</button>
                                            </div>
                                            <div class="content">
                                                <h5 class="title"><a href="/userProduct?id={{this._id}}">{{this.Name}}
                                                    </a>
                                                </h5>
                                                <span class="price">
                                                    <span class="new">Rs.{{this.Price}}</span>
                                                </span>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <!-- 1st tab end -->
                            
                            <a class="btn add-to-cart" href="/allProducts" style="text-decoration: none;">All Products</a>
                            
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
        <!-- Product tab Area End -->

        <!-- Banner Section Start -->

        <!-- Banner Section End -->
        <!--  Blog area Start -->
        
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    function addCart(productId) {
        
        $.ajax({
            url: 'add-to-cart',
            data: { proId: productId },
            method: 'post',
            success: (response) => {
                if (response.cartOne) {
                    location.reload()
                    document.getElementById("cart-count").innerHTML=count
                    l
                }
            }
        })
    }


</script>